<img src="https://scontent.fsrz1-1.fna.fbcdn.net/v/t1.0-9/91144856_2343166949314703_8051363087699148800_n.png?_nc_cat=106&_nc_sid=85a577&_nc_ohc=SlbYDBo93RYAX8tAEj1&_nc_ht=scontent.fsrz1-1.fna&oh=22748d191ed06ae75b834ce753457c6f&oe=5EAD5014" display="block" align="center" width="200" >

# Tipos de datos # 1
Todos los valores de datos en Python son objetos, y cada objeto, o valor, tiene "un tipo".
Tener en cuenta que, cada tipo de objeto determina qué operaciones va a soportar el objeto y, por lo tanto, qué operaciones se van a poder realizar con esos valores de los datos.

*   Numéricos (int, float)
*   Texto (str)
*   Falso / Verdadero (bool)

### Sintaxis

In [ ]:
```
# La sintaxis de comentarios va seguido del simbolo "#"

# Entero
30

# Decimal
3.4

# Cadena de texto
"Pedro"

# Boleano
True
False
```

### **type()** : Verificar el tipo de dato

Utilizamos esta función para devolver el tipo de dato u objeto que pasamos dentro de los paréntesis

In [ ]:
# Devuelve -> int
type(30)

In [ ]:
# Devuelve -> float
type(3.14)

In [ ]:
# Devuelve -> str
type("Pedro")

In [ ]:
# Devuelve -> str
type('Pedro')

In [ ]:
# Devuelve -> bool
type(True)

In [ ]:
# Devuelve -> bool
type(False)

### **Variables**
Para declarar una variable escribimos primero el nombre de la variable seguido de **"="** (simbolo igual) y por ultimo escribimos el valor que queremos guardar.

In [ ]:
# Es muy recomendable escribir las variables en minusculas
# y si el nombre de la variable tiene mas de una palabra,
# separarlos por "_" guion bajo.

mi_variable = 34

|<img src="http://drive.google.com/uc?export=view&id=1GrOvcZF7LzxYcEa0_C1xgfXWmDxgKu05" width="800">|Una variable es como una etiqueta que apunta a una **caja** esta **caja** almacena el valor de la variable y el tipo de dato. ```a = "pepe"```|
|---|---|

In [ ]:
# Declaramos una variable con cualquier valor
a = "pepe"

In [ ]:
# Obtenemos el valor de la variable que esta en la caja con etiqueta variable_1
a

In [ ]:
# Obtenemos el tipo de dato que esta en la caja
type(a)

### **input()** : Entrada de datos

Si queremos recibir valores externos dentro de nuestra lógica y/o algoritmo que estamos desarrollando utilizamos la siguiente función. Esto nos pedirá datos por consola.

In [ ]:
input()

Si queremos mostrar un mensaje al momento de recibir valores mediante esta funcion entonces ponemos entre comillas el mensaje dentro de los paréntesis

In [ ]:
input("Escribe cualquier dato")

Si queremos almacenar en una variable el valor que recibimos de esta función ```input()``` entonces declaramos una variable que sea igual al valor que se recibe de la función

In [ ]:
cualquier_dato = input("Escribe cualquier dato")

In [ ]:
cualquier_dato

### **print()** : Salida de datos

Si queremos mostrar algún tipo de dato sea "str","int","float" o "bool", utilizamos esta función. Y pasamos dentro de los paréntesis el valor que queremos mostrar.

In [ ]:
# Mostrara/imprimira el valor dentro de los parentesis
print("Quiero mostrar este mensaje")

In [ ]:
# Mostrara/Imprimira el valor de la variable que declaramos anterirormente llamada cualquier_dato
print(cualquier_dato)

Declaramos otra variable para mostrar/imprimir :

In [ ]:
# Declarando una variable cualquiera
mi_variable = 8907

# Mostramos la variable
print(mi_variable)

Si queremos mostrar un mensaje concatenado con una variable :

In [ ]:
# Mostramos la variable
print("El valor de mi variable es :", mi_variable)

Si queremos mostrar un texto con mas contenido y concatenado con mucha de mis variables.
Probablemente tendremos que escribir muchas veces la funcion ```print()```

```
print("El valor de mi variable 1 es :", mi_variable_1)
print("El valor de mi variable 2 es :", mi_variable_2)
print("El valor de mi variable 3 es :", mi_variable_3)
```

Existe una mejor manera para evitar escribir muchas veces la funcion ```print()```.
Y para ello utilizamos **f strings**, esto nos ayuda a concatenar facilmente las variables o código con el mensaje que queremos mostrar.

Para ello utilizamos la misma síntaxis que utilizamos al momento de escribir una cadena de texto o un 'str' la unica diferencia es que escribimos una ```f"Esta es una cadena f"```

#### **print(f"")** : salida de datos con muchas variables concatenadas o unidas.

In [ ]:
# Declaramos las variables 
mi_variable_1 = 45
mi_variable_2 = "Hola que tal"
mi_variable_3 = 3.14

Ponemos entre llaves las variables que queremos mostrar.

In [ ]:
print(f"El valor de la variable 1 es {mi_variable_1}\
\nEl valor de la variable 2 es {mi_variable_2}\
\nEl valor de la variable 3 es {mi_variable_3}")

El simbolo ```\``` significa que continuaremos escribiendo codigo en la siguiente linea y ```\n``` significa un salto de linea.

## 1) Tipos Numericos

Ya que existen dos tipos de datos que son numericos "***int***" y "***float***" al ser de tipo numericos no existe ningún problema al momento de realizar operaciones entre ambos tipos.

In [ ]:
num_1 = 7
num_2 = 3.0

In [ ]:
suma = num_1 + num_2

In [ ]:
resta = num_1 - num_2

In [ ]:
multiplicacion = num_1 * num_2

In [ ]:
division = num_1 / num_2

In [ ]:
cociente = num_1 // num_2

In [ ]:
residuo = num_1 % num_2

In [ ]:
potencia = num_1 ** num_2

In [ ]:
print(f"suma : {suma} \nresta : {resta} \nmultiplicacion : {multiplicacion}\
\ndivision : {division} \ncociente : {cociente} \nresiduo : {residuo} \npotencia : {potencia}")

## 2) Tipos Booleanos

In [ ]:
# Declaramos estas variables para compararlas con los operadores de comparacion
variable_1 = 19
variable_2 = 1

### Operadores de comparación
Los operadores de comparación nos ayudan a comparar dos o mas expresiones y nos devuelve ***True*** si cumplen dicha condición, nos devuelve ***False*** si no cumple.

In [ ]:
# Mayor que
variable_1 > variable_2

In [ ]:
# Menor que
variable_1 < variable_2

In [ ]:
# Menor o igual que
variable_1 <= variable_2

In [ ]:
# Mayor o igual que
variable_1 >= variable_2

In [ ]:
# Igual que
variable_1 == variable_2

In [ ]:
# Diferente de 
variable_1 != variable_2

### Operadores logicos
Estos operadores nos ayudan a comparar solo entre expresiones que sean ```True``` o ```False```. 
Los operadores lógicos más conocidos y más utilizados son los siguientes.

#### **AND**
<table align="left">
    <tr>
        <th>Var 1</th>
        <th>Var 2</th>
        <th>Resultado</th>
    </tr>
    <tr>
        <td>True</td>
        <td>True</td>
        <td>True</td>
    </tr>
        <tr>
        <td>True</td>
        <td>False</td>
        <td>False</td>
    </tr>
        <tr>
        <td>False</td>
        <td>True</td>
        <td>False</td>
    </tr>
        <tr>
        <td>False</td>
        <td>False</td>
        <td>False</td>
    </tr>
</table>

In [ ]:
True and True

#### **OR**
<table align="left">
    <tr>
        <th>Var 1</th>
        <th>Var 2</th>
        <th>Resultado</th>
    </tr>
    <tr>
        <td>True</td>
        <td>True</td>
        <td>True</td>
    </tr>
        <tr>
        <td>True</td>
        <td>False</td>
        <td>True</td>
    </tr>
        <tr>
        <td>False</td>
        <td>True</td>
        <td>True</td>
    </tr>
        <tr>
        <td>False</td>
        <td>False</td>
        <td>False</td>
    </tr>
</table>

In [ ]:
True or False

#### **NOT**
<table align="left">
    <tr>
        <th>Var </th>
        <th>Resultado</th>
    </tr>
    <tr>
        <td>True</td>
        <td>False</td>
    </tr>
    <tr>
        <td>False</td>
        <td>True</td>
    </tr>
</table>

In [ ]:
not False

Practica un poco cambiando el valor de las variables y probando.

In [ ]:
a = 5
b = 3
c = 2
d = 1

In [ ]:
print(a < b or c > d)

In [ ]:
print(a < b and d <= c)

Basandonos en el primer ejercicio :
```
print(a < b or c > d)
```

Si tienes problemas al entender lo que pasa tal vez es mejor pensar que la primera operacion que se ejecuta dentro de la funcion ```print``` es :
```
a < b # Esto retorna un booleano sea True o False
```
luego : 

```
c > d # Esto tambien retorna un booleano sea True o False
```
por ultimo ya sabiendo el valor booleano de cada operacion sea ```True``` o ```False``` utilizamos el operador logico sea ```and```, ```or``` o ```not``` y nos fijamos en la tabla de operadores logicos.
```
# Posibles resultados al hacer las operaciones anteriores
True or True
True or False
False or True
False or False
```

## 3) Tipos Strings o Cadenas de texto

Las cadenas de texto o string pueden estar entre dobles comillas ```"texto"```  o comillas simples ```'texto'```

In [ ]:
cadena_comillas_dobles = "Esto es un string o cadena"
cadena_comillas_simples = 'Esto es un string o cadena'

### Comillas triples :
Estas cadenas de textos con comillas triples son recomendables utilizarlas cuando trabajas con mucho texto como documentos.

In [ ]:
cadena_comillas_triples = """
    Lo que más preocupa es que los afectados son principalmente niños, 
    que representan el 50% del total de casos y entre el 45% y 50% de los 
    internados. Esto se ve reflejado en las escuelas, que han comenzado a 
    registrar un alto ausentismo debido a la epidemia.

    Siguiendo las recomendaciones de la Dirección Departamental de 
    Educación (DDE), los establecimientos escolares están dando tolerancia a 
    los niños que presentan fiebre y síntomas del mal para que puedan recibir 
    el tratamiento y reposo necesarios hasta su recuperación.
"""

### Cadenas f
Nos ayudan a concatenar con cualquier variable de cualquier tipo de dato lo unico que tenemos que hacer es colocar una ***f*** delante de nuestra cadena de texto sin importar si son simples, dobles o triples comillas. Si queremos concatenar nuestras variables entonces las ponemos entre llaves dentro de las llaves tambien pueden haber operaciones.

In [ ]:
variable_1 = 20
variable_2 = 40
variable_3 = False

In [ ]:
# Comillas simples
cadena_1 = f'Variable 1 es igual a {variable_1}'
print(cadena_1)

In [ ]:
# Comillas dobles
cadena_2 = f"Variable 2 es igual a {variable_2}"
print(cadena_2)

In [ ]:
# Comillas triples
cadena_3 = f""" 
Voy a imprimir el valor de todas las variables :
Variable 1 es igual a {variable_1}
Variable 2 es igual a {variable_2}
Variable 3 es igual a {variable_3}

La suma de todas las variables 1 y 2 es {variable_1 + variable_2}
"""
print(cadena_3)

### Operadores con cadenas de texto

La ***SUMA*** de dos cadenas da como resultado una cadena que es la union de ambas

In [ ]:
cadena_1 = "Hola como estas?"
cadena_2 = "Mi nombre es Juan"

In [ ]:
print(cadena_1 + cadena_2)

La ***MULTIPLICACION*** de un numero con una cadena da como resultado una sola cadena que repite n veces la cadena donde n es el número por el cual multiplicamos.

In [ ]:
cadena_3 = "Hola como estas?"

In [ ]:
print(5 * cadena_3)

## 4) IF Flujos de control

La estructura de control if ... permite que un programa ejecute unas instrucciones cuando se cumplan una condición. En inglés "if" significa "si" (condición).

La sintaxis de la condicional if es :
```
if condición:
    aquí van las órdenes que se ejecutan si la condición es cierta
    y que pueden ocupar varias líneas
```

In [ ]:
a = 20 
if a < 20 :
    print("la variable a es menor que 20")

### if else
```
if condición:
    aquí van las órdenes que se ejecutan si la condición es cierta
    y que pueden ocupar varias líneas
else:
    y aquí van las órdenes que se ejecutan si la condición es
    falsa y que también pueden ocupar varias líneas
```

In [ ]:
edad = 20
nacionalidad = "Bolivia"

if edad >= 18 and nacionalidad == "Bolivia" :
    print("Es mayor de edad y cumple con la nacionalidad, usted puede votar en las elecciones")
else :
    print("No cumple con las condiciones, usted no puede votar")

print(f"Su edad es de {edad} y su nacionalidad es {nacionalidad}")

## 5) Transformar tipos de datos.

Muchas veces vamos a querer transformar de un tipo de dato a otro para trabajar con los datos correctos es por eso que utilizaremos las siguientes funciones.


*   int( )
*   float( )
*   bool( )
*   str( )

In [ ]:
# int = enteros o numero enteros
# float = numeros con decimales
# bool = tipos de datos u objetos Verdadero o Falso
# str = cadenas de texto

### **int** -> cualquier tipo

In [ ]:
variable_int = 30
type(variable_int)

Estoy creando una variable llamada ***variable_int_prueba*** a continuación para poder almacenar las transformaciones realizadas a nuestra variable de tipo int y para poder verificar si realmente se pudo transformar a dicho valor

**int -> float**:
Solo añade un decimal .0

In [ ]:
variable_int_prueba = float(variable_int)
# Verificamos si se transformo al tipo de dato
print("El tipo al que se transformo es :", type(variable_int_prueba))
print("El valor se modifico a :", variable_int_prueba)

**int -> bool**:
El valor que retorna solo es False si el entero es 0 en todos los demas casos sin importar si son positivos o negativos va a devolver True

In [ ]:
variable_int_prueba = bool(variable_int)
# Verificamos si se transformo al tipo de dato
print("El tipo al que se transformo es :", type(variable_int_prueba))
print("El valor se modifico a :", variable_int_prueba)

**int -> str**:
Simplemente añade comillas.

In [ ]:
variable_int_prueba = str(variable_int)
# Verificamos si se transformo al tipo de dato
print("El tipo al que se transformo es :", type(variable_int_prueba))
print("El valor se modifico a :", variable_int_prueba)

### **float** -> cualquier tipo

In [ ]:
variable_float = 3.8
type(variable_float)

Estoy creando una variable llamada ***variable_float_prueba*** a continuación para poder almacenar las transformaciones realizadas a nuestra variable de tipo float y para poder verificar si realmente se pudo transformar a dicho valor

**float -> int**:
Solo toma la parte entera

In [ ]:
variable_float_prueba = int(variable_float)
# Verificamos si se transformo al tipo de dato
print("El tipo al que se transformo es :", type(variable_float_prueba))
print("El valor se modifico a :", variable_float_prueba)

**float -> bool**:
El valor que retorna solo es False si el decimal es 0.0 en todos los demas casos sin importar si son positivos o negativos va a devolver True

In [ ]:
variable_float_prueba = bool(variable_float)
# Verificamos si se transformo al tipo de dato
print("El tipo al que se transformo es :", type(variable_float_prueba))
print("El valor se modifico a :", variable_float_prueba)

**float -> str**:
Solo añade comillas y ya es una cadena de texto el numero decimal

In [ ]:
variable_float_prueba = str(variable_float)
# Verificamos si se transformo al tipo de dato
print("El tipo al que se transformo es :", type(variable_float_prueba))
print("El valor se modifico a :", variable_float_prueba)

### **bool** -> cualquier tipo

In [ ]:
variable_bool = True
type(variable_bool)

Estoy creando una variable llamada ***variable_bool_prueba*** a continuacion para poder almacenar las transformaciones realizadas a nuestra variable de tipo bool y para poder verificar si realmente se pudo transformar a dicho valor

**bool -> int**:
Si la variable es True se transforma a 1 y si es False se transforma el valor a 0

In [ ]:
variable_bool_prueba = int(variable_bool)
# Verificamos si se transformo al tipo de dato
print("El tipo al que se transformo es :", type(variable_bool_prueba))
print("El valor se modifico a :", variable_bool_prueba)

**bool -> float**:
Si la variable es True se transforma a 1.0 y si es False se transforma el valor a 0.0

In [ ]:
variable_bool_prueba = float(variable_bool)
# Verificamos si se transformo al tipo de dato
print("El tipo al que se transformo es :", type(variable_bool_prueba))
print("El valor se modifico a :", variable_bool_prueba)

**bool -> str**:
Solo añade las comillas y se transforman en cadenas de texto.

In [ ]:
variable_bool_prueba = str(variable_bool)
# Verificamos si se transformo al tipo de dato
print("El tipo al que se transformo es :", type(variable_bool_prueba))
print("El valor se modifico a :", variable_bool_prueba)

### **str** -> cualquier tipo

In [ ]:
# Puedes cambiar el valor de esta variable e ir ejecutando los codigos
# de mas abajos, algunos dara error pues mucho depende de lo que hay
# en la cadena .
variable_str = "Esto es un texto"
type(variable_str)

Estoy creando una variable llamada ***variable_str_prueba*** a continuación para poder almacenar las transformaciones realizadas a nuestra variable de tipo str y para poder verificar si realmente se pudo transformar a dicho valor.

**str -> int**:
Si la cadena tiene letras entonces ocurrira un error porque no se pueden transformar texto a numeros.
Si la cadena tiene numeros entonces transformamos correctamente a enteros

In [ ]:
variable_str_prueba = int(variable_str)
# Verificamos si se transformo al tipo de dato
print("El tipo al que se transformo es :", type(variable_str_prueba))
print("El valor se modifico a :", variable_str_prueba)

**str -> float**:
Si la cadena contiene letras entonces retornara un error.
Si la cadena contiene nmeros entonces transformaremos correctamente a decimal

In [ ]:
variable_str_prueba = float(variable_str)
# Verificamos si se transformo al tipo de dato
print("El tipo al que se transformo es :", type(variable_str_prueba))
print("El valor se modifico a :", variable_str_prueba)

**str -> bool**:
Si la cadena tiene letras, espacios, números etc entonces se transformara a True.
Si la cadena no tiene nada entonces retornara False.

In [ ]:
variable_str_prueba = bool(variable_str)
# Verificamos si se transformo al tipo de dato
print("El tipo al que se transformo es :", type(variable_str_prueba))
print("El valor se modifico a :", variable_str_prueba)

### Algunos ejemplos para transformar el tipo de datos que se recibe de entrada de datos

In [ ]:
# recibir datos de tipo entero
nombre_completo = str(input("Escribe tu nombre completo:"))
edad = int(input("Escribe tu edad:"))
peso = float(input("Cual es tu peso"))
soltero = bool(input("Eres soltero?"))

In [ ]:
print(f'nombre completo : {nombre_completo}{type(nombre_completo)}\
    \n edad : {edad}{type(edad)}\
    \n peso : {peso} {type(peso)}\
    \n soltero : {soltero}{type(soltero)}'
)
# Tambien puedes intentarlo con un string de triple comillas

# Tipos de datos # 2

Como continuacion hoy veremos los tipos de datos en python restantes que serian :
*  Tuplas
*  Conjuntos
*  Listas
*  Diccionarios

## Tuplas
En Python, una tupla es un conjunto ordenado de elementos del mismo o diferente tipo. Las tuplas se representan escribiendo los elementos entre paréntesis y separados por comas.

```(1, 'a', 3.14)```

In [ ]:
# Declarando una variable con una tupla
mi_tupla = (2,3)
print(mi_tupla)

In [ ]:
# verificamos el tipo de dato
type(mi_tupla)

In [ ]:
# verificamos el tamaño de la tupla
len(mi_tupla)

In [ ]:
# Accede al elemento 0 de la tupla que seria el primer elemento
mi_tupla[0]

## Conjuntos
Los conjuntos ("set") en Python es una estructura de datos equivalente a conjuntos en matemáticas. Puede consistir en varios elementos; El orden de los elementos en un conjunto no está definido. Puede agregar y eliminar elementos de un conjunto, puede iterar los elementos del conjunto, puede realizar operaciones estándar en conjuntos (unión, intersección, diferencia).

Los conjuntos se representan escribiendo los elementos entre llaves y separados por comas.

```{1, 2, 3, "pepe"}```

In [ ]:
# Declarando una variable con un conjunto
mi_conjunto = {1, 2, 3, "pepe"}
print(mi_conjunto)

In [ ]:
# verificamos el tipo de dato
type(mi_conjunto)

In [ ]:
# Añadir elementos al conjunto
mi_conjunto.add(49)

# Mostramos el conjunto
print(mi_conjunto)

In [ ]:
# Quitar elementos del conjunto
mi_conjunto.discard('pepe')

# Mostramos el conjunto
print(mi_conjunto)

### Operaciones con conjuntos
<table border="1" cellpadding="5">

<tbody><tr>
<td>
<div style="margin:5px; font-weight: bold;">
A | B
<br>
A.union(B)
</div>
</td>
<td>
<div style="margin:5px;">
Returns a set which is the union of sets <code>A</code> and <code>B</code>.
</div>
</td>
</tr>

<tr>
<td>
<div style="margin:5px; font-weight: bold;">
A |= B
<br>
A.update(B)
</div>
</td>
<td>
<div style="margin:5px;"> 
Adds all elements of array <code>B</code> to the set <code>A</code>.
</div>
</td>
</tr>


<tr>
<td>
<div style="margin:5px; font-weight: bold;">
A &amp; B
<br>
A.intersection(B)
</div>
</td>
<td>
<div style="margin:5px;">
Returns a set which is the intersection of sets <code>A</code> and <code>B</code>.
</div>
</td>
</tr>

<tr>
<td>
<div style="margin:5px; font-weight: bold;">
A &amp;= B
<br>
A.intersection_update(B)
</div>
</td>
<td>
<div style="margin:5px;">
Leaves in the set <code>A</code> only items that belong to the set <code>B</code>.
</div></td>
</tr>

<tr>
<td>
<div style="margin:5px; font-weight: bold;">
A - B
<br>
A.difference(B)
</div>
</td>
<td>
<div style="margin:5px;"> 
Returns the set difference of <code>A</code> and <code>B</code> (the elements included in <code>A</code>,
but not included in <code>B</code>).
</div>
</td>
</tr>

<tr>
<td>
<div style="margin:5px; font-weight: bold;">
A -= B
<br>
A.difference_update(B)
</div>
</td>
<td>
<div style="margin:5px;"> 
Removes all elements of <code>B</code> from the set <code>A</code>.
</div>
</td>
</tr>

<tr>
<td>
<div style="margin:5px; font-weight: bold;">
A ^ B
<br>
A.symmetric_difference(B)
</div>
</td>
<td>
<div style="margin:5px;"> 
Returns the symmetric difference of sets <code>A</code> and <code>B</code> (the elements belonging to either <code>A</code>
or <code>B</code>, but not to both sets simultaneously).
</div>
</td>
</tr>

<tr>
<td>
<div style="margin:5px; font-weight: bold;">
A ^= B
<br>
A.symmetric_difference_update(B)
</div>
</td>
<td>
<div style="margin:5px;"> 
Writes in <code>A</code> the symmetric difference of sets <code>A</code> and <code>B</code>.
</div>
</td>
</tr>

<tr>
<td>
<div style="margin:5px; font-weight: bold;">
A &lt;= B
<br>
A.issubset(B)
</div>
</td>
<td>
<div style="margin:5px;"> 
Returns <code>true</code> if <code>A</code> is a subset of <code>B</code>.
</div>
</td>
</tr>


<tr>
<td>
<div style="margin:5px; font-weight: bold;">
A &gt;= B
<br>
A.issuperset(B)
</div>
</td>
<td>
<div style="margin:5px;">
Returns <code>true</code> if <code>B</code> is a subset of <code>A</code>.
</div>
</td>
</tr>

<tr>
<td>
<div style="margin:5px; font-weight: bold;">
A &lt; B
</div>
</td>
<td>
<div style="margin:5px;"> 
Equivalent to <code>A &lt;= B and A != B</code>
</div>
</td>
</tr>


<tr>
<td>
<div style="margin:5px; font-weight: bold;">
A &gt; B
</div>
</td>
<td>
<div style="margin:5px;"> 
Equivalent to <code>A &gt;= B and A != B</code>
</div>
</td>
</tr>

</tbody></table>

## Listas
Una lista es una estructura de datos y un tipo de dato en python con características especiales. Lo especial de las listas en Python es que nos permiten almacenar cualquier tipo de valor como enteros, cadenas y hasta otras funciones.

Las listas se representan escribiendo los elementos entre corchetes y separados por comas.

```[2, "hola", (7,8), {23,"pepe"}]```

In [ ]:
# Declarando una variable con una lista
mi_lista = [2, "hola", (7,8), {23,"pepe"}]
print(mi_lista)

In [ ]:
# verificamos el tipo de dato
type(mi_lista)

In [ ]:
# Añadimos elementos a la lista
mi_lista.append(3)

# Mostramos la lista
print(mi_lista)

In [ ]:
# Eliminar elementos de una lista por su posicion
mi_lista.pop(0)
print(mi_lista)

In [ ]:
# Eliminar elementos de una lista por su valor
mi_lista.remove('hola')
print(mi_lista)

### Operaciones con listas
<table border="1" cellpadding="5">
<tbody>
    <tr>
<td>
<div style="margin:5px; font-weight: bold;">
x in A
</div>
</td>
<td>
<div style="margin:5px;"> 
Comprueba si un elemento esta en la lista. Devuelve verdadero o falso
</div>
</td>
</tr>


<tr>
<td>
<div style="margin:5px; font-weight: bold;">
x not in A
</div>
</td>
<td>
<div style="margin:5px;"> 
Lo mismo pero negando not(x in A)
</div>
</td>
</tr>


<tr>
<td>
<div style="margin:5px; font-weight: bold;">
min(A)
</div>
</td>
<td>
<div style="margin:5px;"> 
El elemento mas pequeño de la lista
</div>
</td>
</tr>


<tr>
<td>
<div style="margin:5px; font-weight: bold;">
max(A)
</div>
</td>
<td>
<div style="margin:5px;"> 
El elemento mas grande de la lista
</div>
</td>
</tr>

<tr>
<td>
<div style="margin:5px; font-weight: bold;">
A.index(x)
</div>
</td>
<td>
<div style="margin:5px;"> 
El índice de la primera aparición del elemento x en la lista; en su ausencia genera una excepción ValueError
</div>
</td>
</tr>


<tr>
<td>
<div style="margin:5px; font-weight: bold;">
A.count(x)
</div>
</td>
<td>
<div style="margin:5px;"> 
El número de ocurrencias del elemento x en la lista
</div>
</td>
</tr>

</tbody>
</table>

## Diccionarios
Un Diccionario es una estructura de datos y un tipo de dato en Python con características especiales que nos permite almacenar cualquier tipo de valor como enteros, cadenas, listas, etc.   Estos diccionarios además nos permiten identificar cada elemento por una clave (Key).

Los diccionarios se representan escribiendo los sus claves y valor entre llaves.

```{'nombre' : 'Carlos', 'edad' : 24, 'habilidades': ['Vender','Programar'] }```

In [ ]:
# Declaramos una variable con el tipo diccionario
mi_diccionario = {'nombre' : 'Carlos', 'edad' : 24, 'habilidades': ['Vender','Programar'] }
print(mi_diccionario)

In [ ]:
# Verificamos el tipo de dato
type(mi_diccionario)

In [ ]:
# Añadimos elementos al diccionario
mi_diccionario['apellido'] = 'Rojas'

# Mostramos el diccionario
print(mi_diccionario)

In [ ]:
# Eliminamos elementos de un diccionario especificando su clave
mi_diccionario.pop('habilidades')
print(mi_lista)

In [ ]:
# Obetenemos valores del diccionario
edad = mi_diccionario.get('edad')
print(edad)

## Bucle For
En general, un bucle es una estructura de control que repite un bloque de instrucciones. Un bucle for es un bucle que repite el bloque de instrucciones un número prederminado de veces. El bloque de instrucciones que se repite se suele llamar cuerpo del bucle y cada repetición se suele llamar iteración.

La sintaxis de un bucle for es la siguiente:
```
for variable in ElementoIterable (lista, cadena, range, etc.):
    cuerpo del bucle
```

In [ ]:
print("Comienzo")
a = 1
b = 29
for i in [0, 1, 2, "pepe"]:
    print("i es igual a ", i)   
    
print(a + b)

print("Final")

## Bucle while
Un bucle while permite repetir la ejecución de un grupo de instrucciones mientras se cumpla una condición (es decir, mientras la condición tenga el valor True).

La sintaxis del bucle while es la siguiente:

```
while condicion:
    cuerpo del bucle
```

In [ ]:
i = 1
while i <= 3:
    print(i)
    i = i + 1
    
print("Programa terminado")